# Guardian - only signaling server files
*.*
!.gitignore
!railway.json
!package.json
!package-lock.json
!signaling-server.js
!server-config.json
!start.js
!start-simple.bat
!turn-server.js
!deploy-railway.bat
!deploy-git.bat
!deploy.bat
!setup-deploy.bat
!check-server.bat
!build-apk.bat
!guardian-v1.99.html
!guardian-v1.100.html
!guardian-v2.0.10.html
!guardian-v2.0.9.apk
!guardian-v2.0.10.apk
!guardian-app/www/index.html
!guardian-app/config.xml
!guardian-app/package.json
guardian-app/www/lib/*
!guardian-app/www/js/*
!test_regression.py
guardian-server/*.log
guardian-server/node_modules/
node_modules/
