# Guardian - only signaling server files
*.*
!.gitignore
!railway.json
!package.json
!package-lock.json
!signaling-server.js
!server-config.json
!start.js
!start-simple.bat
!turn-server.js
guardian-server/*.log
guardian-server/node_modules/
